/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  overflow-x: hidden;
}
html {
  height: 100%;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* buttons resets */
button[class] {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
}
button:focus,
input:focus {
  outline: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
input {
  padding: 0;
  border: none;
}
.fa,
.fas,
.fab {
  display: inline-block;
  line-height: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Roboto Thin";
  font-weight: 300;
  font-style: normal;
  src: url(../../src/fonts/font/Roboto/roboto.thin.ttf);
}

@font-face {
  font-family: "Roboto Thin Italic";
  font-weight: 300;
  font-style: italic;
  src: url(../../src/fonts/font/Roboto/roboto.thin-italic.ttf);
}

@font-face {
  font-family: "Roboto Light";
  font-weight: 400;
  font-style: normal;
  src: url(../../src/fonts/font/Roboto/roboto.light.ttf);
}

@font-face {
  font-family: "Roboto Light Italic";
  font-weight: 400;
  font-style: italic;
  src: url(../../src/fonts/font/Roboto/roboto.light-italic.ttf);
}

@font-face {
  font-family: "Roboto Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../../src/fonts/font/Roboto/roboto.regular.ttf);
}

@font-face {
  font-family: "Roboto Medium";
  font-weight: 400;
  font-style: normal;
  src: url(../../src/fonts/font/Roboto/roboto.medium.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  font-weight: 700;
  font-style: normal;
  src: url(../../src/fonts/font/Roboto/roboto.bold.ttf);
}

@font-face {
  font-family: "Roboto Condensed Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../../src/fonts/font/Roboto/roboto-condensed.regular.ttf);
}

@font-face {
  font-family: "Roboto Condensed Bold";
  font-weight: 700;
  font-style: normal;
  src: url(../../src/fonts/font/Roboto/roboto-condensed.bold.ttf);
}

// page colors
$colors: (
  text: #fefefe,
  text-dark: darken(#fefefe, 15%),
  text-darker: darken(#fefefe, 40%),
  primary: #111312,
  accent: #15dd7d,
  banner-bg: #0c5d49,
  banner-bg-transparent: #0216111a
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}

// page paddings
$small-padding: 10px;
$padding: 15px;

// page margins
$margins: (
  small-margin: 10px,
  medium-margin: 15px,
  large-margin: 20px
);
@function margin($margin-type) {
  @return map-get($margins, $margin-type);
}

body {
  background-color: color(primary);
  color: color(text);
  font-family: "Roboto Regular";
  position: relative;
}

main.page-wrapper {
  // padding: $padding;
  width: 100%;
  min-height: 100%;

  .banner-section__container {
    height: auto;
    position: relative;
    overflow-x: hidden;
    // z-index: -1;
    background-color: color(banner-bg);
    border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -ms-border-radius: 0px 0px 30px 30px;
    -o-border-radius: 0px 0px 30px 30px;

    // header styling goes here
    header {
      width: 100%;
      padding: ($padding);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      background-color: transparent;
      justify-content: space-between;
      align-items: center;
      z-index: 4;

      .search-box,
      nav {
        // z-index: 1;
      }

      .search-box {
        position: relative;

        .popUp-container {
          z-index: 10;
        }

        .hide-search-box {
          width: 300px;
          position: absolute;
          left: -300px;
          background-color: #111312e1;
          padding: ($padding * 2) $padding;
          display: grid;
          grid-template-columns: auto 1fr;
          grid-column-gap: 4px;
          overflow: hidden;
          transform: translateY(-150px);
          -webkit-transform: translateY(-150px);
          -moz-transform: translateY(-150px);
          -ms-transform: translateY(-150px);
          -o-transform: translateY(-150px);
          transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -ms-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in;
        }

        .show-search-box {
          width: 300px;
          position: absolute;
          left: -300px;
          opacity: 1;
          background-color: #111312e1;
          padding: ($padding * 2) $padding;
          display: grid;
          grid-template-columns: auto 1fr;
          grid-column-gap: 4px;
          overflow: hidden;

          .search,
          input {
            padding: 4px;
            background-color: #bbbaba;
          }
          .search {
            color: #333;
            cursor: pointer;
            border-radius: 6px 0px 0px 6px;
            -webkit-border-radius: 6px 0px 0px 6px;
            -moz-border-radius: 6px 0px 0px 6px;
            -ms-border-radius: 6px 0px 0px 6px;
            -o-border-radius: 6px 0px 0px 6px;
          }
          .search:hover {
            background-color: color(text-dark);
          }
          .search:focus {
            outline: none;
          }
          input {
            font-size: 0.85em;
            border-radius: 0px 6px 6px 0px;
            -webkit-border-radius: 0px 6px 6px 0px;
            -moz-border-radius: 0px 6px 6px 0px;
            -ms-border-radius: 0px 6px 6px 0px;
            -o-border-radius: 0px 6px 6px 0px;
          }
          transition: all 0.6s ease-in-out;
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          border-radius: 30px 0px 30px;
          -webkit-border-radius: 30px 0px 30px;
          -moz-border-radius: 30px 0px 30px;
          -ms-border-radius: 30px 0px 30px;
          -o-border-radius: 30px 0px 30px;
        }
        input:focus {
          background-color: color(text);
          color: #363636;
          outline: none;
        }
      }

      i.fas {
        font-size: 1.6em;
        cursor: pointer;
      }

      // nav bar styling goes here
      nav {
        i.fas {
          // transform: rotate(360deg);
          // -webkit-transform: rotate(360deg);
          // -moz-transform: rotate(360deg);
          // -ms-transform: rotate(360deg);
          // -o-transform: rotate(360deg);
        }
      }
    }

    .banners__holder {
      width: 100%;
      height: inherit;
      display: grid;
      grid-template-columns: repeat(4, 100%);

      .banner {
        background-color: transparent;
        width: 100%;
        height: inherit;
        position: relative;
        // z-index: 1;

        &__cover-photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          // position: absolute;
          // width: 100%;
          // height: 100%;
          // object-fit: cover;
          // left: 0;
          // top: 0;
          z-index: -2;
        }

        &__info-container {
          width: 75%;
          padding: ($padding);
          position: absolute;
          top: 70px;
          z-index: 4;
          // background-color: red;

          // margin-top: margin(large-margin) * 4;
          // margin-bottom: margin(large-margin) * 50;

          h1 {
            font-size: 1.6em;
            font-family: "Roboto Medium";
            margin-bottom: margin(medium-margin);
            line-height: 1.2;
            text-transform: capitalize;
          }
          .banner-button {
            display: inline-block;
            font-size: 0.8em;
            text-transform: uppercase;
            padding: 3px 6px;
            margin-top: margin(medium-margin);
            background-color: color(text);
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;

            &__play,
            &__share {
              cursor: pointer;
            }
            &__play:hover,
            &__share:hover {
              padding: 0px 10px;
            }
            &__play {
              color: color(accent);
              padding: 3px 10px;
              margin-right: 3px;
              font-family: "Roboto light";
            }
            &__share {
              color: #3d3d3d;
            }
          }

          .banner__desc {
            line-height: 1.2em;
            color: color(text-dark);
          }
        }
      }
      animation: change-banner 15s linear 1s infinite normal;
      -webkit-animation: change-banner 15s linear 1s infinite normal;
}
    @keyframes change-banner {
      0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
10% {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
25% {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
35% {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
}
50% {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
}
60% {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
  -moz-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  -o-transform: translateX(-300%);
}
75% {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
  -moz-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  -o-transform: translateX(-300%);
}
85% {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
100% {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
    }

    .banner__pagenation {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;

      li {
        margin: 4px;
        width: 10px;
        height: 10px;
        padding: 3px;
        border: 1px solid color(text);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }

  .banner::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #02161175;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  //(section) music-beats and beats-card styling goes here
  .music-beats {
    width: 100%;
    padding: $padding;
    padding-right: 0px;

    &__title {
      margin: margin(medium-margin) 0;
      font-weight: 200;
      text-transform: capitalize;
      font-size: 1.25em;
      text-shadow: 2px 2px 2px #585858;
    }

    &__card-container {
      margin-bottom: margin(large-margin);
      overflow-x: hidden;
      display: grid;
      grid-column-gap: 15px;
      grid-template-columns: repeat(6, 140px);
      scroll-snap-type: x mandatory;
      overflow-x: scroll;

      .card {
        scroll-snap-align: start;

        &__image {
          display: block;
          width: 100%;
          object-fit: cover;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
        }

        &__title {
          color: color(text-dark);
          padding-top: ($small-padding) - 2px;
          text-transform: capitalize;
          font-family: "Roboto light";
          font-size: 0.8em;
          text-shadow: 1px 1px 2px #363636;
        }
        &__desc {
          color: color(text-darker);
          font-size: 0.7em;
          line-height: 1.05;
          text-transform: capitalize;
        }
      }
    }
  }
}

// playing beat bottom section styling goes here
.playing-beat-container {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px $padding;
  position: fixed;
  bottom: 0;
  background-color: color(primary);
  box-shadow: 0px -2px 15px 0 #4b4949;
  border-radius: 20px 20px 0px;
 -webkit-border-radius: 20px 20px 0px;
 -moz-border-radius: 20px 20px 0px;
 -ms-border-radius: 20px 20px 0px;
 -o-border-radius: 20px 20px 0px;
  

  .playing-title {
    color: color(text-dark);
    font-size: 0.8em;
    text-transform: capitalize;
  }
  i {
    color: color(accent);
    cursor: pointer;
  }
  i.fa-play-circle {
    font-size: 1.4em;
    margin: 0px 5px;
  }
  i.download {
    color: color(text);
    font-size: 1.4em;
    margin-left: margin(medium-margin);
  }
 
}
